<header class="header">
  <nav class="sidebar">
    <ul>
      <li class="item-nav" ><a class="item-link-nav"  href="#">about</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">services</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">menu</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">gallery</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">chefs</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">block</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">contact</a></li>
      <li class="item-nav" ><a class="item-link-nav"  href="#">book now</a></li>
    </ul>
  </nav>
</header>