<header class="header">
  <nav class="navbar" [ngClass]="{'sidebar-scrolling': isTop}" >
    <div class="sidebar">
      <div class="logo"><img src="/assets/images/logo-white.png" alt="logo"></div>
      <ul>
        <li class="item-nav" ><a class="item-link-nav"  href="#">about</a></li>
        <li class="item-nav" ><a class="item-link-nav"  href="#">services</a></li>
        <li class="item-nav" ><a class="item-link-nav"  href="#">menu</a></li>
        <li class="item-nav" ><a class="item-link-nav"  href="#">gallery</a></li>
        <li class="item-nav" ><a class="item-link-nav"  href="#">chefs</a></li>
        <li class="item-nav" ><a class="item-link-nav"  href="#">blog</a></li>
        <li class="item-nav" ><a class="item-link-nav"  href="#">contact</a></li>
        <li class="item-nav btn btn-golden" ><a class="item-link-nav"  href="#">book now</a></li>
      </ul>
    </div>
  </nav>
  <section>
    <div class="info-header">
      <div class="info">
        <h1>delicious breakfast</h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem reprehenderit odio nihil a vero culpa corporis</p>
        <button class="btn text-white btn-outline-white">discover menu</button>
      </div>
    </div>
  </section>
</header>