<section class="main-menu">
  <div class="container">
    <h3 class="title-extra-large">main menu</h3>
    <p class="desc-menu">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, ea odio voluptatibus et vero labore eius unde molestiae laborum. Animi adipisci sed possimus temporibus! Eaque sint repellat maxime sed illum?</p>
    <div class="list-menu">
      <ul>
        <li class="item-menu">
          <a href="">
            <img src="/assets/images/restaurant-menu-iteam01.png" alt="menu item" class="img-menu">
            <p class="text-extra-medium" >starters</p>
         </a>
        </li>
        <li class="item-menu">
          <a href="">
            <img src="/assets/images/restaurant-menu-iteam02.png" alt="menu item" class="img-menu">
            <p class="text-extra-medium" >meat</p>
         </a>
        </li>
        <li class="item-menu">
          <a href="">
            <img src="/assets/images/restaurant-menu-iteam03.png" alt="menu item" class="img-menu">
            <p class="text-extra-medium" >fish</p>
         </a>
        </li>
        <li class="item-menu actived-item-menu">
          <a href="">
            <img src="/assets/images/restaurant-menu-iteam04.png" alt="menu item" class="img-menu">
            <p class="text-extra-medium" >vegetarian</p>
         </a>
        </li>
        <li class="item-menu">
          <a href="">
            <img src="/assets/images/restaurant-menu-iteam05.png" alt="menu item" class="img-menu">
            <p class="text-extra-medium" >deserts</p>
         </a>
        </li>
        <li class="item-menu">
          <a href="">
            <img src="/assets/images/restaurant-menu-iteam06.png" alt="menu item" class="img-menu">
            <p class="text-extra-medium" >drinks</p>
         </a>
        </li>
      </ul>
    </div>
  </div>
</section>