<div class="container center-section">
  <h3 class="title-extra-large title-section">food gallery</h3>
  <p class="description-section">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, ea odio voluptatibus et vero labore eius unde molestiae laborum. Animi adipisci sed possimus temporibus! Eaque sint repellat maxime sed illum?</p>
</div>

<section class="gallery">
  <ul>
    <li class="item-gallery">
      <img src="/assets/images/agency-work-13.jpg" alt="">
    </li>
    <li class="item-gallery">
      <img src="/assets/images/agency-work-02.jpg" alt="">
    </li>
    <li class="item-gallery">
      <img src="/assets/images/agency-work-04.jpg" alt="">
    </li>
    <li class="item-gallery">
      <img src="/assets/images/agency-work-14.jpg" alt="">
    </li>
    <li class="item-gallery">
      <img src="/assets/images/agency-work-06.jpg" alt="">
    </li>
    <li class="item-gallery">
      <img src="/assets/images/agency-work-08.jpg" alt="">
    </li>
  </ul>
</section>
