<div class="container mb-40">
  <section class="services">
    <div class="card">
      <img src="assets/images/restaurant-service-icon01.png" alt="image service" class="img-card">
      <h3 class="title-card">breakfast</h3>
      <p class="text-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="card">
      <img src="assets/images/restaurant-service-icon02.png" alt="image service" class="img-card">
      <h3 class="title-card">lunch</h3>
      <p class="text-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="card">
      <img src="assets/images/restaurant-service-icon03.png" alt="image service" class="img-card">
      <h3 class="title-card">dinner</h3>
      <p class="text-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
    <div class="card">
      <img src="assets/images/restaurant-service-icon04.png" alt="image service" class="img-card">
      <h3 class="title-card">drinks</h3>
      <p class="text-card">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
    </div>
  </section>
</div>

<div class="specials-services">
  <div class="info-specials">
    <div class="card">
      <img src="assets/images/restaurant-about-icon.png" alt="icon restaurant" class="img-card">
      <div class="subtitle text-extra-large">Specialty of the Restaurant</div>
      <h2 class="title-card title-extra-large-2">discover our tasty meals</h2>
      <p class="text-medium">Lorem Ipsum is simply dummy text size of the typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <button class="btn btn-golden btn-radius">book a table</button>
  </div>
  <img src="assets/images/restaurant-about-bg.jpg" alt="image restaurant" class="info-specials-img w-100">
</div>