<div class="container center-section">
  <h3 class="title-extra-large title-section">meet our chefs</h3>
  <div class="description-section text-large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</div>
  <div class="carousel">
    <div class="item-slide fade">
      <div class="item-slide-section">
        <h3 class="title-medium">Gustave Berneir</h3>
        <h5 class="text-large">execute chef</h5>
        <p class="description-slide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        <p class="description-slide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
      </div>
      <div class="item-slide-picture"><img src="/assets/images/restaurant-chef-01.jpg" alt="picture the chef"></div>
    </div>
    <div class="item-slide fade">
      <div class="item-slide-section">
        <h3 class="title-medium">Brian johnson</h3>
        <h5 class="text-large">execute chef</h5>
        <p class="description-slide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        <p class="description-slide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
      </div>
      <div class="item-slide-picture"><img src="/assets/images/restaurant-chef-02.jpg" alt="picture the chef"></div>
    </div>
    <div class="item-slide fade">
      <div class="item-slide-section">
        <h3 class="title-medium">jeremy dupont</h3>
        <h5 class="text-large">execute chef</h5>
        <p class="description-slide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        <p class="description-slide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
      </div>
      <div class="item-slide-picture"><img src="/assets/images/restaurant-chef-03.jpg" alt="picture the chef"></div>
    </div>
  </div>
</div>