/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #000;
  --secundary-color: #fff;
  --cream-color: #f7f5e7;
  --golde-color: #d0ae5e;
  --gray-dark-color: #282828;
  --brow-color: #4e2b1f;
  --orage-color: #f26149;
  --font-open: 'Open Sans', sans-serif;;
  --font-monserant: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-open);
  color: #707070;
}

a {
  text-decoration: none;
}