<section class="container mb-40">
  <div class="section-explore">
    <img src="/assets/images/content-50.jpg" alt="content image">
    <div class="section-explore-text">
      <h2>The best food in town at one of the best locations!!!</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae eius, facere neque delectus aut voluptate odit minus ipsam, tempora ratione numquam saepe expedita ut, quam veniam blanditiis dolore deleniti nam.</p>
      <button class="btn btn-golden-outline">explore menu</button>
    </div>
  </div>
</section>

<app-services-menu></app-services-menu>
<app-main-menu></app-main-menu>
<app-gallery></app-gallery>